header,
main,
nav,
footer,
figure,
figcaption,
aside,
section,
article {
    display: block;
}

body {
    background-color: #4F6D93;
    background: linear-gradient(to bottom, #FFFFFF, #4F6D93);
    background-repeat: no-repeat;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000033;
    color: #FFFFFF;
    background-image: url(images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

nav {
    font-weight: bold;
    padding: 20px;
    float: left;
    width: 160px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    transition: color 3s ease-out;
}

nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #FFFFFF;
}

main {
    background-color: #FFFFFF;
    margin-left: 190px;
    padding: 1px 20px 20px;
    padding-left: 30px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
}

h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #CCCCCC;
}

h3 {
    font-family: Georgia, "Times New Roman", serif;
}

main ul {
    list-style-type: "bullet";
}

dt {
    color: #000033;
}

video,
embed {
    float: right;
    padding-left: 20px;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 1em;
}

input,
textarea {
    display: block;
    margin-bottom: 20px;
}

table {
    border: 1px;
    border-color: #3399CC;
    width: 80%;
    border-spacing: 0;
}

td,
th {
    padding: 5px;
    border: 1px;
    border-color: #3399CC;
}

td {
    text-align: center;
}

tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}

figure {
    position: absolute;
    left: 280px;
    text-align: center;
    opacity: .25;
}

footer {
    padding: 20px;
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    margin-left: 190px;
    background-color: #FFFFFF;
    float: none;
}

.resort {
    color: #5C7FA3;
    font-weight: bold;
}

.text {
    text-align: left;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px #333333;
    background-color: #90C7E3;
}

input [type="submit"] {
    margin-left: 130px;
}

#gallery {
    position: relative;
    height: 200px;
    text-align: left;
    color: black;
}

#gallery ul {
    width: 300px;
    list-style: none;
}

#gallery li {
    display: inline;
    float: left;
    padding: 10px;
}

#gallery img {
    border: none;
}

#gallery a {
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

#gallery span {
    position: absolute;
    opacity: 0;
    left: -1000px;
    transition: opacity 1s ease-in-out;
}

#gallery a:hover span {
    position: absolute;
    left: 320px;
    top: 16px;
    text-align: center;
    opacity: 1;
}

#homehero {
    background-image: url(images/coasthero.jpg);
    height: 300px;
    background-size: 100%, 100%;
    margin-left: 190px;
}

#yurthero {
    background-image: url(images/yurthero.jpg);
    height: 300px;
    background-size: 100%, 100%;
    margin-left: 190px;
}

#trailhero {
    background-image: url(images/trailhero.jpg);
    height: 300px;
    background-size: 100%, 100%;
    margin-left: 190px;
}

#contact {
    font-size: 90%;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}


/*Tablet*/

@media only screen and (max-width: 64em) {
    body {
        margin: 0;
        background-color: #FFFFFF;
    }
    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    main {
        margin-left: 0;
    }
    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: .5em;
    }
    nav li {
        display: inline;
        padding: .25em .75em .25em .75em;
    }
    #homehero,
    #yurthero,
    #trailhero {
        margin-left: 0;
        height: 200px;
    }
    footer {
        margin-left: 0;
    }
}


/*Mobile*/

@media only screen and (max-width: 37.5em) {
    header {
        padding-top: 1em;
    }
    body {
        margin: 0;
        background-color: #FFFFFF;
    }
    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    main {
        margin-left: 0;
        padding: .1em 1em .1em 1em;
        font-size: 90%;
    }
    h1 {
        font-size: 1.5em;
    }
    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: .5em;
        padding: 0;
    }
    nav li {
        display: inline;
        padding: .25em .75em .25em .75em;
        display: block;
    }
    label {
        float: none;
        text-align: left;
    }
    input [type="submit"] {
        margin-left: 0;
    }
    #homehero,
    #yurthero,
    #trailhero,
    #gallery {
        margin-left: 0;
        height: 0;
        background-image: none;
        display: none;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
    footer {
        margin-left: 0;
    }
}